@model IEnumerable<ServiSalud1.ViewModels.ClinicaServiciosViewModel>
@{
    ViewData["Title"] = "Nuestros Servicios";
    <style>
        #titulo-especialidades {
            font-family: 'Arial', sans-serif;
            font-weight: bold;
            color: #336699;
            text-align: center;
            margin-top: 20px;
        }

        body {
            margin: 25px;
        }

        .tabla-servicios {
            width: 80%;
            margin: 0 auto;
            border-collapse: collapse;
            margin-top: 20px;
        }

            .tabla-servicios th, .tabla-servicios td {
                border: 1px solid #000000;
                padding: 8px;
                text-align: center; /* Ahora centrado */
            }

            .tabla-servicios th {
                background-color: #336699;
                color: #ffffff; /* Color del texto en el encabezado */
            }

        .datos_tabla {
            background-color: #f9f9f9;
        }

    </style>
}
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    <h1 id="titulo-especialidades" class="display-4">Nuestros Servicios</h1>
    <table class="tabla-servicios">
        <thead>
            <tr>
                <th>
                    Clínica
                </th>
                <th>
                    Ubicación
                </th>
                <th>
                    Servicio
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="datos_tabla">
                    <td>
                        @item.Nombre_Clinica
                    </td>
                    <td>
                        @item.Ubicacion
                    </td>
                    <td>
                        @item.Nombre_Servicio
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
