@model ServiSalud1.Models.Empleados
<br />
<br />
<br />
<br />
<br />
<h1>Editar Empleados</h1>

<form asp-action="Editar" method="post">
    <input type="hidden" asp-for="Id_empleado" />

    <div class="form-group">
        <label for="Nombre_empleado">Nombre del Empleado:</label>
        <input type="text" class="form-control" asp-for="Nombre_empleado" required>
    </div>
    <div class="form-group">
        <label for="Id_especialidad">Especialidad:</label>
        <select asp-for="Id_especialidad" asp-items="ViewBag.Especialidades" class="form-control" required>
            <option value="">-- Seleccione una especialidad --</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Id_Clinica">Sede Clínica:</label>
        <select asp-for="Id_Clinica" asp-items="ViewBag.Clinicas" class="form-control" required>
            <option value="">-- Seleccione una clínica --</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Sexo">Sexo:</label>
        <select asp-for="Sexo" class="form-control" required>
            <option value="">-- Seleccione género --</option>
            <option value="F">F</option>
            <option value="M">M</option>
            <option value="Otro">Otro</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Telefono">Teléfono:</label>
        <input type="decimal" class="form-control" asp-for="Telefono" required>
    </div>
    <div class="form-group">
        <label for="Nacimiento">Nacimiento:</label>
        <input type="date" class="form-control" asp-for="Nacimiento" required>
    </div>
    <button type="submit" class="btn btn-success">Guardar Cambios</button>
    <a asp-controller="Empleados" asp-action="Index" class="btn btn-primary">Regresar</a>
</form>
