@model ServiSalud1.ViewModels.UsuarioViewModel
@{
    Layout = null;
}
<head>
    <link href="@Url.Content("~/Content/assets/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <script src="@Url.Content("~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>
</head>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/assets/css/estilos.css")" rel="stylesheet">

    <title>Registro</title>
</head>
<body style="background-image: url('https://static.vecteezy.com/system/resources/previews/002/268/676/non_2x/hospital-corridor-with-waiting-chairs-on-the-sides-free-photo.jpg');">
    <div class="login-container">
        <h2>Registro</h2>
        <form asp-controller="Acceso" asp-action="Registrar" method="post">
            <div class="form-group">
                <label asp-for="Nombre">Nombre:</label>
                <input type="text" asp-for="Nombre" required>
            </div>
            <div class="form-group">
                <label asp-for="Apellido">Apellido:</label>
                <input type="text" asp-for="Apellido" required>
            </div>
            <div class="form-group">
                <label asp-for="Id_Usuario">Nombre de Usuario:</label>
                <input type="text" asp-for="Id_Usuario" required>
            </div>
            <div class="form-group">
                <label asp-for="Contra">Contraseña:</label>
                <input type="password" asp-for="Contra" required>
            </div>
            <div class="form-group">
                <label asp-for="TipoUsuario">Tipo de Usuario:</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="Emple" name="TipoUsuario" asp-for="TipoUsuario" value="Empleado">
                <label class="form-check-label">
                    Empleado/Doctor/Médico
                </label>
            </div>
            <div class="form-group" id="adminInput" hidden>
                <label>Código de Administrador:</label>
                <input asp-for="Id_empleado" type="text" id="Codigo">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="Pac" name="TipoUsuario" asp-for="TipoUsuario" value="Paciente" checked>
                <label class="form-check-label">
                    Paciente
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrar">
            </div>
            <div class="form-group">
                <p>¿Ya tienes una cuenta? <a asp-controller="Acceso" asp-action="Login">Inicia Sesión</a></p>
            </div>

        </form>
    </div>
    <script src="@Url.Content("~/Content/assets/js/main.js")"></script>
</body>



