@{
    Layout = null;
}
<html>
    <head>
        <title>Acceso Denegado</title>
        <link href="@Url.Content("~/Content/assets/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">

    </head>
    <body>
        <h1 class="text-center">Acceso Denegado</h1>
    </body>
</html>
