﻿<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h1>Bienvenido a Servisalud</h1>
        <h2>Somos una talentosa clinica con el objetivo de poder auxiliar a todos nuestros pacientes y asegurar su bienestar</h2>
        <a href="#about" class="btn-get-started scrollto">Empecemos</a>
    </div>
</section><!-- End Hero -->
<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="content">
                    <h3>¿Porque elegir Servisalud?</h3>
                    <p>
                        Descubre la excelencia en atención médica en Servisalud. Profesionales de primer nivel,
                        tecnología avanzada y comodidad a tu alcance. Tu salud es nuestra prioridad. ¡Ven y compruébalo!
                    </p>
                    <div class="text-center">
                        <a href="@Url.Action("Index", "Pacientes")" class="more-btn">Ver más <i class="bx bx-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-receipt"></i>
                                <h4>¿Qué distingue a Servisalud de otras clínicas? </h4>
                                <p>
                                    La diferencia radica en nuestra atención centrada en el paciente, instalaciones modernas y
                                    un equipo de profesionales comprometidos con tu bienestar.
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-cube-alt"></i>
                                <h4>¿Qué hace a Servisalud especial?</h4>
                                <p>
                                    Nuestra excelencia médica se combina con la atención personalizada que mereces. Ofrecemos una
                                    amplia gama de servicios, desde atención primaria hasta especialidades médicas, y lo hacemos
                                    accesible y asequible.
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-images"></i>
                                <h4>¿Por qué confiar en Servisalud para tu salud?</h4>
                                <p>
                                    Nuestro compromiso con la excelencia médica,
                                    tecnología avanzada y un enfoque centrado en el paciente nos convierte en la elección ideal.
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section><!-- End Why Us Section -->
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
            </div>

            <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h3>Enim quis est voluptatibus aliquid consequatur fugiat</h3>
                <p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus laudantium. Soluta voluptate sed facere corporis dolores excepturi. Libero laboriosam sint et id nulla tenetur. Suscipit aut voluptate.</p>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-fingerprint"></i></div>
                    <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                    <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-gift"></i></div>
                    <h4 class="title"><a href="">Nemo Enim</a></h4>
                    <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-atom"></i></div>
                    <h4 class="title"><a href="">Dine Pad</a></h4>
                    <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>
                </div>

            </div>
        </div>

    </div>
</section><!-- End About Section -->