@model Clinica
<form method="post" asp-action="Crear">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 mt-4">
            <div class="row">
                <div class="col-4">
                    <label asp-for="Nombre_clinica"></label>
                    <input asp-for="Nombre_clinica" />
                </div>
                <div class="col-4">
                    <label asp-for="Ubicacion"></label>
                    <input asp-for="Ubicacion" />
                </div>
            </div>
        </div>
    </div>
    <div class="d-grid gap-2 d-md-block">
        <button type="submit" class="btn btn-primary">Crear Nueva</button>
        <a asp-controller="Clinica" asp-action="Index"
           class="btn btn-success">Regresar</a>
    </div>

</form>