@model Clinica
@{
    ViewData["Title"] = "Nuestras Clínicas";

}

<div class="text-center">
    <h1 class="display-4">Nuestras Clínicas</h1>
    <table>
        <tr>
            <th>
                Clínica
            </th>
            <th>
                Ubicacion
            </th>
        </tr>
     
    </table>
</div>


            

