@model ServiSalud1.ViewModels.RegistrodeCitasViewModel

<!-- Agregamos la referencia a Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<br />
<br />
<br />
<br />
<div class="container">
    <h1 class="display-2 mt-3">Registro de Cita</h1><br>
    <div class="container-fluid">
        <div class="row">

            <div class="mb-3">
                <div id="horaActual"></div>
            </div>
            <input type="hidden" asp-for="Fechas_citas" id="Fechas_citas_hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger col-12"></div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="DNI" class="form-label ms-2">DNI del Paciente</label>
                        <input asp-for="DNI" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Especialidad_nombre" class="form-label ms-2">Especialidad</label>
                        <select asp-for="Especialidad_nombre" class="form-select">
                            <option value="">-- Seleccione una especialidad --</option>
                            @foreach (var especialidad in ViewBag.Especialidades)
                            {
                                <option value="@especialidad.Value">@especialidad.Text</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Nombre_empleado" class="form-label ms-2">Doctor/a o Enfermero/a</label>
                        <select asp-for="Nombre_empleado" class="form-select">
                            <option value="">-- Seleccione un especialista --</option>
                            @foreach (var empleado in ViewBag.Empleados)
                            {
                                <option value="@empleado.Value">@empleado.Text</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Fechas_citas" class="form-label ms-2">Fecha y Hora</label>
                        <input asp-for="Fechas_citas" class="form-control" />
                        <span asp-validation-for="Fechas_citas" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Ubicacion" class="form-label ms-2">Sede</label>
                        <select asp-for="Ubicacion" class="form-select">
                            <option value="">-- Seleccione una sede --</option>
                            <option value="Lima">Lima</option>
                            <option value="Tomayquichua">Tomayquichua</option>
                        </select>
                    </div>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-danger form-control"> Volver a lista</a>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary form-control" id="confirmarCitaBtn">Confirmar Cita</button>
                        </div>
                    </div>
                    <div id="confirmacion" class="alert alert-success mt-3" style="display:none;"></div>
                    <div id="error" class="alert alert-danger mt-3" style="display:none;">Por favor, complete todos los campos.</div>
                    <div id="aviso" class="alert alert-warning mt-3" style="display:none;">Seleccione un horario válido.</div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function obtenerFechaHora() {
            fetch('/RegistrodeCitas/ObtenerFechaHora')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error al obtener la fecha y hora');
                    }
                    return response.json();
                })
                .then(data => {
                    document.getElementById("horaActual").innerText = "Fecha y Hora Actual: " + data.fechaHora;
                })
                .catch(error => {
                    console.error('Error al obtener la fecha y hora:', error);
                });
        }

        setInterval(obtenerFechaHora, 1000);

        document.addEventListener("DOMContentLoaded", function () {
            obtenerFechaHora();
        });

        document.getElementById("confirmarCitaBtn").addEventListener("click", function () {
            if (document.getElementById("DNI").value === "" ||
                document.getElementById("Especialidad_nombre").value === "" ||
                document.getElementById("Nombre_empleado").value === "" ||
                document.getElementById("Fechas_citas").value === "" ||
                document.getElementById("Ubicacion").value === "") {
                document.getElementById("error").innerText = "Por favor, complete todos los campos.";
                document.getElementById("error").style.display = "block";
                document.getElementById("confirmacion").style.display = "none";
                document.getElementById("aviso").style.display = "none";
            } else {
                var fechaHoraSeleccionada = new Date(document.getElementById("Fechas_citas").value);
                var fechaHoraActual = new Date();

                if (fechaHoraSeleccionada <= fechaHoraActual) {
                    document.getElementById("aviso").innerText = "Seleccione un horario válido.";
                    document.getElementById("aviso").style.display = "block";
                    document.getElementById("confirmacion").style.display = "none";
                    document.getElementById("error").style.display = "none";
                } else {
                    document.getElementById("error").style.display = "none";
                    document.getElementById("aviso").style.display = "none";
                    document.getElementById("confirmacion").innerText = "Cita confirmada";
                    document.getElementById("confirmacion").style.display = "block";

                    
                }
            }
        });
    </script>
}
