@model ServiSalud1.ViewModels.RegistrodeCitasViewModel
<h1 class="display-4">Registro de cita</h1>
<form method="post" asp-action="Index">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 mt-4">
            <div class="row">
                <div class="col-4">
                    <label asp-for="DNI">DNI del Paciente</label>
                    <input asp-for="DNI" />
                </div>
                <div class="col-4">
                    <label asp-for="Especialidad_nombre">Especialidad</label>
                    <input asp-for="Especialidad_nombre" />
                </div>
                <div class="col-4">
                    <label asp-for="Nombre_empleado">Doctor/a o Enfermero/a</label>
                    <input asp-for="Nombre_empleado" />
                </div>
                <div class="col-4">
                    <label asp-for="Fechas_citas">Fecha y Hora</label>
                    <input asp-for="Fechas_citas" />
                </div>
                <div class="col-4">
                    <label asp-for="Ubicacion">Sede</label>
                    <input asp-for="Ubicacion" />
                </div>
            </div>
        </div>
    </div>
    <div class="d-grid gap-2 d-md-block">
        <button type="submit" class="btn btn-primary">Registrar Cita</button>
        <a asp-controller="Home" asp-action="Index"
           class="btn btn-success">Regresar a Inicio</a>
    </div>

</form>