@model IEnumerable<ServiSalud1.Models.Especialidad>
@{
    ViewData["Title"] = "Nuestras Especialidades";
    <style>
        #titulo-especialidades {
            font-family: 'Arial', sans-serif;
            font-weight: bold;
            color: #336699;
            text-align: center;
            margin-top: 20px;
        }

        body {
            margin: 25px;
        }

        .tabla-especialidades {
            width: 80%;
            margin: 0 auto;
            border-collapse: collapse;
            margin-top: 20px;
        }

            .tabla-especialidades th, .tabla-especialidades td {
                border: 1px solid #000000;
                padding: 8px;
                text-align: center;
            }

            .tabla-especialidades th {
                background-color: #336699;
                color: #ffffff;
            }

        .datos_tabla {
            background-color: #f9f9f9;
        }
    </style>
}
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    <h1 id="titulo-especialidades" class="display-4">Nuestras Especialidades</h1>
    <br />
    <table class="tabla-especialidades">
        <thead>
            <tr>
                <th>
                    Codigo
                </th>
                <th>
                    Especialidad
                </th>
                <th>
                    Empleado
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="datos_tabla">
                    <td>
                        @item.Id_especialidad
                    </td>
                    <td>
                        @item.Especialidad_nombre
                    </td>
                    <td>
                        @foreach (var pollito in item.Empleados)
                        {
                            @pollito.Nombre_empleado <br />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
