@model IEnumerable<ServiSalud1.Models.Especialidad>
@{
    ViewData["Title"] = "Nuestras Especialidades";
    <style>
        #titulo-especialidades {
            font-family: 'Arial', sans-serif;
            font-weight: bold;
            color: #336699;
            text-align: center;
            margin-top: 20px;
        }

        body {
            margin: 25px;
        }

    </style>
}
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    <h1 id="titulo-especialidades" class="display-4">Nuestras Especialidades</h1>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Codigo
                </th>
                <th>
                    Especialidad
                </th>
                <th>
                    Empleado
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="datos_tabla">
                    <td>
                        @item.Id_especialidad
                    </td>
                    <td>
                        @item.Especialidad_nombre
                    </td>
                    <td>
                        @foreach (var pollito in item.Empleados)
                            {
                                @pollito.Nombre_empleado <br />
                            }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
