@model IEnumerable<ServiSalud1.Models.Especialidad>
@{
    ViewData["Title"] = "Nuestras Especialidades";
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 25px;
            background-color: #f8f9fa;
        }

        #titulo-especialidades {
            font-family: 'Arial', sans-serif;
            font-weight: bold;
            color: #336699;
            text-align: center;
            margin-top: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #dee2e6;
        }

        th {
            background-color: #1977cc;
            color: white;
        }

        .datos_tabla {
            background-color: #ffffff;
            transition: transform 0.3s;
        }

        .datos_tabla:hover {
            transform: scale(1.02);
        }

        .btn {
            padding: 8px 16px;
            text-decoration: none;
            margin-right: 5px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        .btn-editar {
            background-color: #007bff; /* Azul */
            color: white;
        }

        .btn-borrar {
            background-color: #dc3545; /* Rojo */
            color: white;
        }

        .btn:hover {
            background-color: #0056b3;
        }

        .btn-icon {
            margin-right: 5px;
        }

        .hidden {
            display: none;
        }

        .btn-desplegar:hover{
            color:white;
        }
        .btn-desplegar .btn-icon {
            background-color: white;
            color: black; /* Cambia el color del texto a rojo */
            transition: background-color 0.3s, color 0.3s; /* Transiciones para el fondo y el color del texto */
        }


        .btn-desplegar:hover .btn-icon {
            background-color: #0056b3;
            color:white;
        }
    </style>
}

<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    <h1 id="titulo-especialidades" class="display-4">Nuestras Especialidades</h1>
    <br />
    <table>
        <thead>
            <tr>
                <th>
                    Codigo
                </th>
                <th>
                    Especialidad
                </th>
                <th>
                    Empleado
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="datos_tabla">
                    <td>
                        @item.Id_especialidad
                    </td>
                    <td>
                        @item.Especialidad_nombre
                    </td>
                    <td>
                        @if (item.Empleados.Count() > 0)
                        {

                            <button class="btn btn-desplegar" data-target="#empleados-@item.Id_especialidad"><i class="fa-solid fa-arrow-down btn-icon"></i> Desplegar</button>
                            <div id="empleados-@item.Id_especialidad" class="hidden">
                                @foreach (var pollito in item.Empleados)
                                {
                                    @pollito.Nombre_empleado <br />
                                }
                            </div>
                        }
                        else
                        {
                            <span>No hay empleados</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $(".btn-desplegar").on("click", function () {
            var targetId = $(this).data("target");
            $(targetId).toggleClass("hidden");
        });
    });
</script>
