@model ServiSalud1.ViewModels.RegistrodePacienteViewModel
<br />
<br />
<br />
<br />
<br />
<style>
    #titulo-registro {
        font-family: 'Arial', sans-serif;
        font-weight: bold;
        color: #336699;
        margin-top: 20px;
    }

    body {
        margin: 25px;
    }
</style>
<h1 id="titulo-registro" class="display-4">Registro de Pacientes</h1>
<form method="post" asp-action="Crear" style="margin: 25px;">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 mt-4">
            <div class="row mb-2">
                <div class="col-4">
                    <label asp-for="DNI"></label>
                </div>
                <div class="col-8">
                    <input asp-for="DNI" class="form-control" required type="text" pattern="[0-9]*" maxlength="8" />
                    <span asp-validation-for="DNI" class="text-danger"></span>
                </div>
            </div>


            <div class="row mb-2">
                <div class="col-4">
                    <label asp-for="Nombre"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4">
                    <label asp-for="Apellido"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Apellido" class="form-control" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4">
                    <label asp-for="Telefono"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Telefono" class="form-control" required type="text" pattern="[0-9]*" maxlength="9" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4">
                    <label asp-for="Correo"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Correo" class="form-control" type="email" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-4">
                    <label asp-for="Sexo"></label>
                </div>
                <div class="col-8">
                    <select asp-for="Sexo" class="form-control">
                        <option value="Seleccionar">-- Seleccione su genero --</option>
                        <option value="F">Femenino</option>
                        <option value="M">Masculino</option>
                        <option value="Otro">Otro</option>
                    </select>
                    <span asp-validation-for="Sexo" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4">
                    <label asp-for="Direccion"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4">
                    <label asp-for="Descripcionmedica"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Descripcionmedica" class="form-control" />
                    <span asp-validation-for="Descripcionmedica" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4">
                    <label asp-for="Nacimiento">Fecha de Nacimiento</label>
                </div>
                <div class="col-8">
                    <input asp-for="Nacimiento" class="form-control" />
                    <span asp-validation-for="Nacimiento" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4">
                    <label asp-for="Peso">Peso</label>
                </div>
                <div class="col-8">
                    <input asp-for="Peso" class="form-control" type="number" step="0.01" />
                    <span asp-validation-for="Peso" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4">
                    <label asp-for="Altura">Altura</label>
                </div>
                <div class="col-8">
                    <input asp-for="Altura" class="form-control" type="number" step="0.01" />
                    <span asp-validation-for="Altura" class="text-danger"></span>
                </div>
            </div>


            <div class="row mb-2">
                <div class="col-4">
                    <label asp-for="Antecedentes">Antecedentes</label>
                </div>
                <div class="col-8">
                    <input asp-for="Antecedentes" class="form-control" />
                    <span asp-validation-for="Antecedentes" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4">
                    <label asp-for="Fecha_ingreso">Fecha de ingreso del paciente</label>
                </div>
                <div class="col-8">
                    <input asp-for="Fecha_ingreso" class="form-control" />
                    <span asp-validation-for="Fecha_ingreso" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-3">
            <a asp-controller="Pacientes" asp-action="Index" class="btn btn-success">Regresar</a>
        </div>
        <div class="col-5 offset-4">
            <button type="submit" class="btn btn-primary form-control">Crear Nueva</button>
        </div>
    </div>
</form>