@{
    ViewData["Title"] = "Nuestros Pacientes";
}

<div class="text-center">
    <h1 class="display-4">Nuestros Pacientes</h1>
    <a class="btn btn-primary text-white" asp-area="" asp-controller="Pacientes" asp-action="Crear">Añadir Paciente</a>
</div>
